/* GOOGLE FONTS LINKS 
<!-- GOOGLE FONTS  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap"
        rel="stylesheet"> */

/* VARIABLES*/


--


*{
    font-family: 'Roboto Mono', monospace;

}
:root{

    /* VARIABLES */

    --padding-container: 80px 0;
    --color-title: #d9cddb;
    --color-bg-hero: #ff00ea;
}


body{

    font-family: 'Roboto Mono', monospace;
}

.hero {

    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg-hero);

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* auto para centrar en pantalla*/
    border-style: dashed; /* para diferenciar provisorio */
    

}

